@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
	@apply bg-background text-blue font-inter tabular-nums;
}

.skeleton {
	@apply animate-pulse bg-background-dark rounded-lg h-6;
}

input:focus {
	@apply outline-none;
}

/* Remove clock icon from time input on desktop browsers */
input[type="time"]::-webkit-calendar-picker-indicator {
	display: none;
}
