name: Deploy
on:
  push:
    branches:
      - master
      - feature/deploy

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VUE_APP_CLIENT_ID: ${{ secrets.VUE_APP_CLIENT_ID }}
      VUE_APP_SPREADSHEET_ID: ${{ secrets.VUE_APP_SPREADSHEET_ID }}
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: '16'

      - name: Build
        run: npm ci && npm run build

      - name: Deploy to Production environment
        uses: easingthemes/ssh-deploy@v2.1.1
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SOURCE: "dist/"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET_PRODUCTION }}


